<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadrastro</title>
 <link rel="stylesheet" href="../view/css/menu.css">
</head>
<body>

<h1> <ul>
<li> <a href ="site.html">home</a></li>
<li> <a href ="https://www.waze.com/pt-BR/live-map">Rota </a></li>
<li style="float:right"><a class="active"href="Login.html">Login</a></li>
</ul></h1>
</body><br>

<h1>Frete&Encomenda</h1>

<body>

<form action="../controller/controller_cadastrar.php" method ="post" >
 
<div class="field">
<h1> Envie uma mensagem preenchendo o formulário abaixo.</h1><br>
<h1>Email:<input type="email"name="email" placeholder = "Digite seu email.."required ><br><br></h1> 
<h1>Nome:<input type="text"name="nome" placeholder = "Digite seu nome.."required ><br><br></h1>
<h1>Telefone:<input type="text"name="telefone" placeholder = "Digite seu telefone.."required ></h1>
<h1><span>Deseja receber nossas novidades?</span></h1>
<h1><input type="radio" name="novidades" id="sim" value="sim" checked><label for="sim">Sim</label></h1>
<h1><input type="radio" name="novidades" id="nao" value="nao"><label for="nao">Não</label></h1>
<h1>senha:<input type="password" name="senha" placeholder = "Digite seu senha.."required ></h1> 
<h1>Confirma:<input type="password" name="Confirma" placeholder = "Digite seu Confirma.."required ></h1> 
<h1>Mensagem:<input type="text" name="mensagem" placeholder = "Digite seu mensagem.."required ></h1><br>
<input type="submit" value="cadastro" name="botao">
   
</div>   

</form>

<button type="submit">whatsapp</button>
</form></h1>

<rodape><h4 style="color:rgb(9, 8, 10)">Feito por:Wagner Vieira</h4>
<h4 style ="color: rgb(9, 10, 10);">
E-mail:<a style="color:rgb(10, 10, 10);" href="mailto:wagner.vieira@fatec.sp.gov.br"> wagner.vieira@fatec.sp.gov.br</a></h4>
</rodape>
      
</body>
</html>
</body>
</html>