<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../view/css/menu.css">
</head>
<body>
    
</head>
<body>
    
<h1><ul>
    <li> <a href ="site.html">home</a></li>
    <li> <a href ="Categoria.html">Categoria </a></li>
   
    <li> <a href ="cadastro.html">Cadastro </a></li>
    <li style="float:right"><a class="active"href="Login.html">Login</a></li>

</ul></h1><br><br><br><br><br>


    <h1>Login</h1><br><br>

    <h2><form action="../controller/contole_logan.php" method="post">
    <div>
    <label for="email">Login:</label>
    <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
    <br>
    <label for="email">Senha:</label>
    <input type="password" name="senha" placeholder="Digite sua Senha"><br> 
    <h1><input type="submit" value="cadastro" name="botao"></h1><br>
    </div> 
    </form> 
    <div id="um">
  
    </div>

   
