<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/menu.css">
    <title>Frete&Encomenda</title>
</head>
<body>

<h1><ul>
<p><li> <a href ="cadastro.html">home</a></li></p>
<p><li> <a href ="Categoria.html">Categoria </a></li></p>
<p><li> <a href ="cadastro.html">Cadastro </a></li></p>
<li style="float:right"><a class="active"href="Login.html">Login</a></li>
</ul></h1>


</div>


<body>

    <h1>Alterar senha Login</h1><br><br>

    <h2><form action="../controller/senha.php" method="post">
    <div>
    <label for="email">Login:</label>
    <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
    <br>
    <label for="email">Senha:</label>
    <input type="password" name="senha" placeholder="Digite sua Senha"required><br>
    <label for="email">Senha:</label>
    <input type="password" name="senha" placeholder="Digite sua Senha"required><br> 
    <h1><input type="submit" value="Alterar" name="acao"></h1><br>
    </div> 
    </form> 
    
    </form>
    
    </div>
  








<footer id="rodape"> 
<rodape>
<h4><a href="adm.php"><div class="">H.A.
<a style="color: blue;">Feito por:BIT...</style></a></h4>
</h4></rodape>
</footer>

</body> 
</html>