<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/menu.css">
    <title>Frete&Encomenda</title>
</head>
<body>

<h1><ul>
<p><li> <a href ="cadastro.html">home</a></li></p>
<p><li> <a href ="Categoria.html">Categoria </a></li></p>
<p><li> <a href ="cadastro.html">Cadastro </a></li></p>
<li style="float:right"><a class="active"href="Login.html">Login</a></li>
</ul></h1>

</body><br>
<h1>Frete&Encomenda</h1>
<h1><a href="https://www.gov.br/antt/pt-br"> https://www.gov.br/antt/pt-br</a></h1>
<div class="vertical-menu"><br>

<body><br>

<h1><p>Valor de combustivel </p></h1><br>
<h1><iframe width="560" height="315" 
src="https://www.youtube.com/embed/3BLWFWEEfG8"
title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe></h1>
<h1><p>Calcula frete.</p></h1>

<h1><iframe width="560" height="315" src="https://www.youtube.com/embed/PLEBchOGIyQ" title="YouTube video player" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture" allowfullscreen></iframe></h1>

<h1><p>Como usar waze</p><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/T5KZwR0gnJQ" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture" allowfullscreen></iframe><br></h1>
</div>


<link rel="stylesheet" type ="text/css"href="http://www.cetsp.com.br/consultas/rodizio-municipal/como-funciona.aspx"rel= "stylesheet"><br>

<div>
<footer>
<rodape><h4 style="color:rgba(10, 10,10, 0,8)">Feito por:Wagner Vieira</h4>
<h4 style ="color: rgba(10, 10,10, 0,8);">
E-mail:<a style="color:rgb(10, 10, 10);" href="mailto:wagner.vieira@fatec.sp.gov.br"> wagner.vieira@fatec.sp.gov.br</a></h4>
</rodape>
</footer>
</div>

</body>
</html>